<!-- <h1> {{fName}}</h1>
<h1>{{lName}}</h1> -->

<!-- <h1 [innerText]="title"> </h1> -->
<!-- <h1>{{name}}</h1>
<input type="text" [(ngModel)] ="name"> -->

<!-- <h1>{{getname()}}</h1> -->

<!-- <p>Largest Number :{{getmax(100,300,150)}}</p> -->

<!-- <p style.color="{{color}}">This is red

</p> -->


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fruits</a>
        </div>
        <div class="d-flex me-3">
            <button class="btn btn-success" routerLink="/fruit/create">Add</button>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>